body{
  padding-top: 60px;
}

a:focus {
  outline : none;
}

.custom_open_source_image {
    padding: 20px;
}

.custom_open_source_image img{
  border : 2px solid gray;
    width:100%;
}

.custom_open_source_image p{
  text-align: center;
}

.custom-developer{
  margin-bottom: 50px;
}

.col-xs-12{
  margin-bottom: 30px;
}


a:focus {
  outline : none;
}
/*Parcitle ground �÷����� �����Դϴ�.*/
#particles {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  background: #e7e7e7;
}
section.about {
  position: absolute;
  left: 0;
  top: 33%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}

/*Particle ground �÷����� �����Դϴ�.*/
