footer{
    color:white;
    bottom:0;
    height:auto;
    background-color:#292c2f;
    text-align: center;
    padding: 20px;
}
footer a, footer span{
  font-weight: bold;
  margin-top: 10px;
  text-decoration: none;
}
a:link{
  color:white;
}
a:visited {
  color: white;
}
a:hover, a:focus{
  text-decoration: none;
}
#custom-footer-title{
  font: normal 36px 'Cookie', cursive;
}
.div.Bfooter{
  background-image:none;
}
