footer {
text-color:white;
    bottom:0;
    width:100%;
    height:auto;   
    background-color:#292c2f;

}
span{color:white;}
a{text-decoration:underline;}
a{font-weight: bold;
}
a:link{color:white;}
a:visited { color: white;}
#footN{font: normal 36px 'Cookie', cursive;}
.div.Bfooter{
background-image:none;
}