body{
  background-color: #e7e7e7;
  word-break: keep-all;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.container-fluid{
  margin-right: 20px;
  margin-left: 20px;
}
.navbar-fixed-top{
  border-bottom-width: 0px;
}
#custom-logo{
  padding: 10px;
}
