body{
  background-image: url("../img/main_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 94%;
  margin-top: 60px;
}
h2{
  line-height: 130%;
}
#map {
  height: 400px;
  width: 100%;
}
#custom-jumbotron{
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: #FFF;
}
#custom-jumbotron h1, h5{
  color:white;
  text-shadow: 0 0 10px black;
}
#custom-main-contents{
  background-color: white;
  text-align: justify;
}
#custom-jumbotron-login-button{
  background-color: rgba(0, 0, 0, 0);
  border : 3px solid white;
  border-radius: 0px;
  text-shadow: 0 0 10px black;
}
#custom-4box{
  background-color: #e7e7e7;
}
#custom-4box div{
  padding: 0 20px 0 20px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  text-align: center;
}
#custom-4box h2{
  padding-top: 25px;
}
#custom-4box-h1{
  font-size: 8rem;
}
#custom-4box div p{
  word-break: normal;
  line-height: 165%;
}
#custom-4box-title, #custom-5box-title, #custom-12box-title, #custom-13box-title, #custom-17box-title{
  text-align:center;
  padding: 30px 30px;
  margin-top: 0;
  margin-bottom: 0;
}
#custom-4box-title, #custom-12box-title{
  background-color: #e7e7e7;
}
#custom-12box-title{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
#custom-12box{
  padding: 0;
}
#custom-11box .col-sm-4{
  min-height: 180px;
}
#custom-11box div{
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}
#custom-13box{
  background-color: #e7e7e7;
}
#custom-14box, #custom-15box, #custom-16box{
   padding : 50px;
}
#custom-17box{
  color:white;
  bottom:0;
  height:auto;
  background-color:#292c2f;
}
#custom-bottom-contents{
  margin-right: 0;
  margin-left: 0;
  background: linear-gradient(#e7e7e7, #292c2f);
}
/*img hover effect css 시작입니다.*/
figure.snip1200 {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
figure.snip1200 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1200 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure.snip1200 figcaption {
  position: absolute;
  top: 38%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 1px 1px 0;
}
figure.snip1200 .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
figure.snip1200 h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
figure.snip1200 h2 span {
  font-weight: 800;
}
figure.snip1200 h2:before,
figure.snip1200 h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
figure.snip1200 h2:before {
  left: -1000%;
}
figure.snip1200 h2:after {
  right: -1000%;
}
figure.snip1200 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 0.9em;
  word-break: normal;
}
figure.snip1200 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1200:hover img,
figure.snip1200.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1200:hover figcaption,
figure.snip1200.hover figcaption {
  top: 7%;
  bottom: 7%;
}
figure.snip1200:hover p,
figure.snip1200.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
@media (max-width: 400px){
  figure.snip1200 h2{font-size: 100%;}
}
@media (min-width : 992px) and (max-width: 1200px){
  figure.snip1200 h2{font-size: 130%;}
}
/*image hover effect css 종료입니다.*/
/*carousel css 시작입니다.*/
.carousel .item{
  background-color: white;
}
.carousel .item img{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
}
.carousel-caption{
  color:white;
  text-shadow: 0 0 2px gray;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel .glyphicon{
  color: #aeb1b1;
}
#custom-carousel-box{
  background-color: #e7e7e7;
  margin-right: 0px;
  margin-left: 0px;
}
#myCarousel{
  background-color: #f9f9f9;
  padding-right: 0;
  padding-left: 0;
}
/*carousel css 종료입니다.*/

/*Card css 시작입니다.*/
section{float:left;width:100%;padding:30px 0; position:relative; overflow:hidden;}
section:before{content:"";position:absolute; width:110%; height:100%;  background:url("../img/bottom_img.jpeg") no-repeat 0 0; background-size:cover; filter: blur(1.5px); z-index:0; transform: scale(2);-ms-transform: scale(2); -webkit-transform: scale(2);}
.btn-default{background:#DFC717; color:#fff; font-weight:700; text-shadow:1px 1px 0 rgba(0,0,0,0.2); font-size:14px;}
.card{box-shadow:2px 2px 20px rgba(0,0,0,0.3); border:none; margin-bottom:30px;}
.card-01 .card-body{position:relative;  padding:20px; padding-top:40px; text-align: center; background-color: #e7e7e7;}
.card-01 .badge-box{position:absolute; top:-20px; left:50%; width:100px; height:100px;margin-left:-50px; text-align:center;}
.card-01 .badge-box .glyphicon{background:#DFC717; color:#fff; border-radius:50%;  width:50px; height:50px; line-height:50px; text-align:center; font-size:20px;}
.card-01.height-fix{height:455px; overflow:hidden;}
.card-img-top{width: 100%}
/*Card css 종료입니다.*/

/*반응형 웹을 위한 Media 태그 시작입니다.*/
@media (max-width: 350px){
  #custom-4box-glyphicon1, #custom-4box-glyphicon2, #custom-4box-glyphicon3{font-size:6rem;}
}
@media (max-width: 767px) {
  body{ background-size : 80%; background-image: url("../img/main_image_mobile.jpg");}
  #custom-jumbotron{height: 250px;}
  #custom-jumbotron p h5{font-size: 20px;}
  #custom-4box-glyphicon1, #custom-4box-glyphicon2, #custom-4box-glyphicon3{float:left; padding:0 15px 0 0;}
  #custom-main-contents{padding : 0;}
  #custom-4box-title{margin-top: 0; margin-bottom: 0;}
  #custom-4box .col-sm-4{height: 100px;}
}
@media (min-width: 768px) {
  #myCarousel{padding:40px;}
  .carousel-indicators{margin-bottom: 30px;}
}
@media (min-width: 992px) {
    #custom-jumbotron{height: 400px;}
    #custom-carousel-box{padding:50px;}
    .carousel-control .glyphicon-chevron-left{margin-left: 40px; }
    .carousel-control .glyphicon-chevron-right{margin-right: 40px; }
    .carousel-indicators{margin-bottom: 50px;}
    #custom-4box div p{margin: 0 30px 0 30px;}
}
@media (min-width: 1200px) {
    #custom-jumbotron{height: 600px;}
    #custom-jumbotron h5{font-size: 30px;}
    #custom-jumbotron-p{margin-top: 80px;}
    #custom-jumbotron-login-button{margin-top: 60px;}
    #custom-4box div p{margin: 0 60px 0 60px ;}
}
/*Media 태그 종료입니다.*/

/*Parcitle ground 플러그인 시작입니다.*/
#particles {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  background: #e7e7e7;
}
section.about {
  position: absolute;
  left: 0;
  top: 33%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
section.about p {
  font-size: 25px;
  line-height: 1.5em;
  margin: 0;
  text-align: center;
  font-weight: 300;
}
/*Particle ground 플러그인 종료입니다.*/
